@{
    ViewData["Title"] = "Pamonha";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this area to provide additional information.</p>
<p>@ViewData["email"]</p>
<p>Lucas @ViewData["Lucas"]</p>
<address>
    <strong> More information: </strong> <a href="http://Proway.com.br">Proway</a>
</address>